{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>@{{ request.user.username }} | Update profile</title>
{% endblock %}

{% block container %}

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            <form action="{% url 'users:update_profile' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% if messages %}
                    <ul class="messages list-unstyled">
                        {% for message in messages %}
                        <li  {% if message.tags %} class="alert alert-success {{ message.tags }} " {% endif %}> {{ message }} </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="media">
                    {% if profile.profile_picture %}
                        <img src="{{ profile.profile_picture.url }}" class="rounded-circle" height="50" />
                    {% else%}
                        <img src="{% static 'img/default-profile.png' %}" class="rounded-circle" height="50" />
                    {% endif %}

                    <div class="media-body">
                        <h5 class="ml-4">@{{ user.username }} | {{ user.get_full_name }}</h5>
                        <p class="ml-4"><input type="file" name="profile_picture" ></p>
                    </div>
                </div>

                {% for error in form.profile_picture.errors %}
                   <div class="alert alert-danger">
                       <b>Picture: </b>{{error}}
                    </div> 
                {% endfor %}

                <hr><br>


                <div class="form-group">
                    <label>Biography</label>

                    <textarea 
                        class="form-control {% if form.biography.errors %}is-invalid{%endif%}"
                        name="biography">{%if form.errors%}{{ form.biography.value }}{%else%}{{ profile.biography }}{%endif%}
                    </textarea>

                    <div class="invalid-feedback">
                        {% for error in form.biography.errors  %}
                            {{ error }}
                        {% endfor %}
                    </div>       
                </div>
                </div>


                <button type="submit" class="btn btn-primary btn-block mt-5">Update profile</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}